.elementor-134 .elementor-element.elementor-element-d4b6238{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;--margin-block-start:87px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-134 .elementor-element.elementor-element-d4b6238.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-134 .elementor-element.elementor-element-6b3fd51{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-134 .elementor-element.elementor-element-6b3fd51.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-134 .elementor-element.elementor-element-e27f092{--display:flex;--justify-content:center;--gap:11px 11px;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-134 .elementor-element.elementor-element-e27f092.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-134 .elementor-element.elementor-element-43d2ef9 .elementor-heading-title{color:#0D0D0E;font-family:"Roboto", Sans-serif;font-size:33px;font-weight:600;}.elementor-134 .elementor-element.elementor-element-a70e280 .elementor-heading-title{color:#333738;font-family:"Roboto", Sans-serif;font-size:23px;font-weight:400;}.elementor-134 .elementor-element.elementor-element-d3e76e6{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-start;--align-items:center;--background-transition:0.3s;}.elementor-134 .elementor-element.elementor-element-0c651cf .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#80A5B3;color:#80A5B3;background-color:#D7DDDF00;border-style:solid;border-width:1px 1px 1px 1px;border-color:#80A5B3;border-radius:22px 22px 22px 22px;padding:13px 24px 13px 24px;}.elementor-134 .elementor-element.elementor-element-0c651cf{width:var( --container-widget-width, 30.401% );max-width:30.401%;--container-widget-width:30.401%;--container-widget-flex-grow:0;}.elementor-134 .elementor-element.elementor-element-0c651cf.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-wrapper{text-align:left;}.elementor-134 .elementor-element.elementor-element-a0cd52f.elementor-position-right .elementor-image-box-img{margin-left:10px;}.elementor-134 .elementor-element.elementor-element-a0cd52f.elementor-position-left .elementor-image-box-img{margin-right:10px;}.elementor-134 .elementor-element.elementor-element-a0cd52f.elementor-position-top .elementor-image-box-img{margin-bottom:10px;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-wrapper .elementor-image-box-img{width:17%;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-img img{border-radius:44%;transition-duration:0.3s;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-title{color:#19191A;font-family:"Roboto", Sans-serif;font-size:17px;font-weight:500;}.elementor-134 .elementor-element.elementor-element-a0cd52f.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-134 .elementor-element.elementor-element-757fc1b{--display:flex;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-134 .elementor-element.elementor-element-19ba759{--e-image-carousel-slides-to-show:1;}.elementor-134 .elementor-element.elementor-element-19ba759 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image{border-radius:10px 10px 10px 10px;}@media(max-width:1024px){.elementor-134 .elementor-element.elementor-element-0c651cf .elementor-button{font-size:12px;padding:14px 015px 11px 015px;}}@media(min-width:768px){.elementor-134 .elementor-element.elementor-element-d4b6238{--width:100.976%;}.elementor-134 .elementor-element.elementor-element-6b3fd51{--width:100%;}.elementor-134 .elementor-element.elementor-element-e27f092{--width:44.643%;}}@media(max-width:767px){.elementor-134 .elementor-element.elementor-element-43d2ef9 .elementor-heading-title{font-size:24px;}.elementor-134 .elementor-element.elementor-element-a70e280 .elementor-heading-title{font-size:17px;}.elementor-134 .elementor-element.elementor-element-d3e76e6{--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px 0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-134 .elementor-element.elementor-element-0c651cf .elementor-button{font-size:14px;padding:13px 20px 11px 20px;}.elementor-134 .elementor-element.elementor-element-0c651cf{width:var( --container-widget-width, 145.109px );max-width:145.109px;--container-widget-width:145.109px;--container-widget-flex-grow:0;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-wrapper{text-align:center;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-img{margin-bottom:10px;}.elementor-134 .elementor-element.elementor-element-a0cd52f .elementor-image-box-title{font-size:15px;}.elementor-134 .elementor-element.elementor-element-a0cd52f{width:var( --container-widget-width, 116.938px );max-width:116.938px;--container-widget-width:116.938px;--container-widget-flex-grow:0;}}/* Start custom CSS for image-box, class: .elementor-element-a0cd52f */.__video_review .elementor-image-box-img{
    width: 70px !important;
position: relative;
}
.__video_review .elementor-image-box-img::after{
    content: "";
    background-image: url(/wp-content/uploads/2024/01/video_play.svg);
   right: 12px;
   top: 15px;
   background-size: 100% 100%;
   width: 20px;
   height: 20px;
   
position: absolute;
}
.__video_review img{
    width: 100%;
    height: 50px;
       border-radius: 50% !important;
           object-fit: cover;
}
 @media (max-width:767px){
     .__video_review .elementor-image-box-img{
    width: 40px !important;
}
.__video_review img{
    width: 100%;
    height: 40px;
}
.__video_review .elementor-image-box-img::after{
    top:8px;
}
 }/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-19ba759 */.__carousel_banner img {
    aspect-ratio: 1.2;
    object-fit: cover;
    object-position: top center !important;
    width: 80%;
}
 @media (max-width:767px){
     .__carousel_banner img {
     width:100%;
         
     }
 }/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-a0cd52f */.__video_review .elementor-image-box-img{
    width: 70px !important;
position: relative;
}
.__video_review .elementor-image-box-img::after{
    content: "";
    background-image: url(/wp-content/uploads/2024/01/video_play.svg);
   right: 12px;
   top: 15px;
   background-size: 100% 100%;
   width: 20px;
   height: 20px;
   
position: absolute;
}
.__video_review img{
    width: 100%;
    height: 50px;
       border-radius: 50% !important;
           object-fit: cover;
}
 @media (max-width:767px){
     .__video_review .elementor-image-box-img{
    width: 40px !important;
}
.__video_review img{
    width: 100%;
    height: 40px;
}
.__video_review .elementor-image-box-img::after{
    top:8px;
}
 }/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-19ba759 */.__carousel_banner img {
    aspect-ratio: 1.2;
    object-fit: cover;
    object-position: top center !important;
    width: 80%;
}
 @media (max-width:767px){
     .__carousel_banner img {
     width:100%;
         
     }
 }/* End custom CSS */